@model KutuphaneOtomasyonu.Models.Entity.Uyeler
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Profil Bilgileri</h2>

@using (Html.BeginForm("Index2", "Panel", FormMethod.Post))
{
<table class="table table-hover" style="margin-top:20px">
    <tr>
        <td>
            <label style="font-weight:bolder">  Mail:</label>
            @HttpContext.Current.User.Identity.Name
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(x => x.Ad)
            @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(x => x.Soyad)
            @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(x => x.KullaniciAdi)
            @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(x => x.Sifre)
            @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(x => x.Fotograf)
            @Html.TextBoxFor(x => x.Fotograf, new { @class = "form-control" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(x => x.Okul)
            @Html.TextBoxFor(x => x.Okul, new { @class = "form-control" })
        </td>
    </tr>
    <tr>
        <td>
            <button class="btn btn-warning">Şifre Değiştir</button>
        </td>
    </tr>
</table>
}