@model KutuphaneOtomasyonu.Models.Entity.Uyeler
@{
    ViewBag.Title = "ÜyeEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<title>KÜTÜPHANE OTOMASYON SİSTEMİ</title>
<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Üye Adı</label>
        @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Ad, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <label>Üye Soyadı</label>
        @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Soyad, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <label>Mail Adresi</label>
        @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Mail, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <label>Kullanıcı Adı</label>
        @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.KullaniciAdi, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <label>Şifre</label>
        @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Sifre, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <label>Fotoğraf Linki</label>
        @Html.TextBoxFor(x => x.Fotograf, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Fotograf, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <label>Telefon</label>
        @Html.TextBoxFor(x => x.Telefon, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Telefon, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <label>Okul</label>
        @Html.TextBoxFor(x => x.Okul, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Okul, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn1">Üye Ekle</button>
    </div>
</form>

